@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #254256;
}

#root {
	margin: auto;
	width: 1200px;
}

#logo {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: white;
	font-size: 4em;
}

.results_wrapper {
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    display: inline-flex;
    margin: 5vh auto;
}

.card {
	background-color: white;
	width: 320px;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
	box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    color: rgba(0,0,0,0.87);
    border-radius: 2px;
    text-align: left;
    margin-left: 40px;
    float: left;
}

.card_img {
	width: 100%;
	height: 55%;
}

.card_title {
	padding: 5px 5% 0 5%;
	display: inline-block;
	font-size: 20px;
	width: 95%;
	height: 48px;
	word-wrap: break-word;
	word-break: break-word;
	overflow: hidden;
}

.card_url, .user_url {
	text-decoration: none;
	color: black;
}

.card_icons {
	display: inline-block;
	padding: 5px 15px 0;
	float: right;
}

.card i {
	font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    padding: 10px 8px;
}

.fa-heart {
	color: #EF5350;
}

.fa-play-circle {
	color: #424242;
}

.fa-comments {
	color: gray;
}

.comment_button {
	background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.card_button {
	display: block;
	margin-right: 15px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background: white;
	width: 600px;
	max-height: 400px;
	overflow: scroll;
	box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
	box-sizing: border-box;
	box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.video {
	text-align: center;
    width: 100%;
}

iframe {
	margin: 1vh;
	width: 460px; 
	height: 260px;
}

.user_info {
    display: inline-block;
    margin: 0 1vh;
}

.info {
	margin: 0 60px;
}

.card_button, .close_button {
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 4px;
	float: right;
}

button:focus {
	text-decoration: none;
	outline:0 !important;
}


.upload_date {
	color: gray;
	font-size: 14px;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 9998;
	background: rgba(0, 0, 0, 0.3);
}

/*responsive*/
@media screen and (max-width: 1280px) {
	#root {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	#logo {
		font-size: 4em;
	}
	#root {
		width: 400px;
	}
	.modal {
		width: 320px;
		max-height: 380px;
	}
	iframe {
		width: 300px;
		height: 230px;
		margin: 0;
	}
	.info {
	    margin: 0 6px;
	}

}
